# Node modules
node_modules

# Environment files
.env
*.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: specific JSON files you want to ignore (if any)
secrets.json
config.local.json

# Other common files to ignore
.git
.gitignore
.DS_Store